<div class="container">
  <form [formGroup]="clientFormGroup" *ngIf="clientFormGroup">
    <div class = "form-group">
      <label>IDCLIENT</label>
      <input type ="text" class="form-control" formControlName="idclient"
             readonly>
    </div>
    <div class = "form-group">
      <label>Nom</label>
      <input type ="text" class="form-control" formControlName="nom"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.nom.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.nom.errors" class
        ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.nom.errors.required">
          Nom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Prénom</label>
      <input type ="text" class="form-control" formControlName="prenom"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.prenom.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.prenom.errors"
           class ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.prenom.errors.required">
          Prénom obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>CP</label>
      <input type ="text" class="form-control" formControlName="cp"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.cp.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.cp.errors" class
        ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.cp.errors.required">
          code postal obligatoire
        </div>
        <div *ngIf="clientFormGroup.controls.cp.errors.min">
          le code postal doit être supérieur ou égal à 1000
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Localité</label>
      <input type ="text" class="form-control" formControlName="localite"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.localite.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.localite.errors"
           class ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.localite.errors.required">
          Localité obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Rue</label>
      <input type ="text" class="form-control" formControlName="rue"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.rue.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.rue.errors" class
        ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.rue.errors.required">
          Rue obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Num</label>
      <input type ="text" class="form-control" formControlName="num"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.num.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.num.errors" class
        ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.num.errors.required">
          Numéro obligatoire
        </div>
      </div>
    </div>
    <div class = "form-group">
      <label>Tel</label>
      <input type ="text" class="form-control" formControlName="tel"
             [ngClass]="{'is-invalid': submitted &&
clientFormGroup.controls.tel.errors}">
      <div *ngIf="submitted && clientFormGroup.controls.tel.errors" class
        ="invalid-feedback">
        <div *ngIf="clientFormGroup.controls.tel.errors.required">
          Téléphone obligatoire
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar navbar-nav">
        <li class="nav-item">
          <button (click)="onUpdateClient()" class="btn btn-success">
            Save
          </button>
        </li>
        <li class="nav-item">
          <button (click)="onSeeComfacts()" class="btn btn-success">
            Commandes
          </button>
        </li>
      </ul>
    </nav>
  </form>
  <ng-container *ngIf="comfacts" >
    <ng-container *ngIf="comfacts.length>0 else vide">
      <table class="table">
        <thead>
        <th>Numcommande</th>
        <th>Numfact</th>
        <th>Datecom</th>
        <th>Etat</th>
        <th>Montant</th>
        </thead>
        <tbody>
        <tr *ngFor="let com of comfacts">
          <td>{{com.idcommande}}</td>
          <td>{{com.numfact}}</td>
          <td>{{com.datecommande|date: 'dd-MM-yyyy'}}</td>
          <td>{{com.etat}}</td>
          <td>{{com.montant}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #vide>
      Aucune commande pour ce client
    </ng-template>
  </ng-container>
</div>

  <app-newcomfact [cliact]="clientFormGroup"
                  (newComfact)="onAddComfact($event)"></app-newcomfact>
